<!doctype html>
<html lang="en-US">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Invoice</title>
    <meta name="description" content="Reset Password Email Template.">
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px;" leftmargin="0">
    <table cellspacing="0" border="0" cellpadding="0" width="100%">
        <tr>
            <td>
                <table style="max-width:70%;  margin:2vh auto;" width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <table width="95%" align="center" cellpadding="0" cellspacing="0"
                            style="max-width:90%; border-radius:5px; border:1px solid black; padding:2vw">
                            <tr>
                                <td style="padding:0 35px;">
                                    <div style="font-size:30px; margin-bottom:1em ;" class="company-logo">
                                        D'SEWA
                                    </div>
                                    <span
                                            style="display:inline-block; vertical-align:middle; margin:29px 0 26px; border-bottom:1px solid #cecece; width:80%;"></span>
                                        <h3 style="color:#1e1e2d; font-weight:500; margin:0;font-size:20px;font-family:'Rubik',sans-serif; margin-bottom:1em; border-bottom:1px solid rgba(0, 0, 0, 0.3); width:70%; padding-bottom:8px ;">{{invoice}}</h3>
                                        <table>
                                            <tr>
                                                <td><p style="font-weight: bold">Property name </p> </td>
                                                <td><p style="margin-left:12px ;">: {{property}}</p></td>
                                            </tr>
                                            <tr>
                                                <td><p style="font-weight: bold">Room name </p></td>
                                                <td><p style="margin-left:12px ;">: {{room}}</p></td>
                                            </tr>
                                            <tr>
                                                <td><p style="font-weight: bold">Check-in date </p></td>
                                                <td><p style="margin-left:12px ;">: {{start}}</p></td>
                                            </tr>
                                            <tr>
                                                <td><p style="font-weight: bold">Check-out date </p></td>
                                                <td><p style="margin-left:12px ;">: {{end}}</p></td>
                                            </tr>
                                            <tr>
                                                <td><p style="font-weight: bold">Total price</p></td>
                                                <td><p style="margin-left:12px ;">: {{price}}</p></td>
                                            </tr>
                                        </table>
                                        <span
                                            style="display:inline-block; vertical-align:middle; margin:29px 0 26px; border-bottom:1px solid #cecece; width:80%;"></span>
                                        <p style="color:#455056; font-size:15px;line-height:24px; margin:0;">
                                            Rules :
                                        </p>
                                        <p>{{rules}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height:40px;">&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                    <tr>
                        <td style="height:20px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="height:80px;">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>